<nav class="navbar navbar-expand-lg top-navbar final-navbar shadow">
    <div class="container">
      <a class="navbar-brand" href="{{ .baseURL }}">
        <img src="/images/2016_05_19_NSS_Cohort_12_0274_T_cropped_246x246.jpg">
        {{- .title -}}
      </a>
      <button class="navbar-toggler navbar-light" type="button" {{ if .hasToggleButton }}onclick="toggleSidebar()"{{ end }}>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="top-nav-items">
        <ul class="navbar-nav ml-auto">
        </ul>
        </ul>
      </div>
    </div>
</nav>
